* text=auto

*.py text
*.md text
*.json text
*.yml text
*.yaml text
*.toml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

*.pyc binary
*.pyd binary
*.pyo binary
*.so binary
*.dll binary 